@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');


canvas {
  border: 1px black solid;
}

body {
  background-image: url("../img/wallpaper.jpg");

}

.container {
  margin: 0 auto;
  width: 100%;
  margin-top: 40px;
}

canvas {
  margin: 0 auto;
  display: block;
}

#game-over {
  display: none;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .6);
}

#game-over p {
  font-family: "Press Start 2P";
  text-align: center;
  color: white;
  font-size: 42px;
}

#game-over h2{
  font-family: "Press Start 2P";
  margin-top: 250px;
  text-align: center;
  color: white;
  font-size: 61px;
}